<footer class="sub_footer">
  <nav class="sub_footer__content">
    <%= link_to "DISCLAIMER", "#" %> /
    <%= link_to "PRIVACY", "#" %> /
    <%= link_to "COPYRIGHT", "#" %> /
    <%= link_to "RIGHT TO INFORMATION", "#" %> /
    <%= link_to "WEBSITE ACCESSIBILITY", "#" %> /
    <%= link_to "CONTACT US", "#" %> /
    <%= link_to "FEEDBACK", "#" %> /
    <%= link_to "SITEMAP", "#" %>
  </nav>
</footer>
