<% content_for :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
<%= render partial: 'hero_content', locals: { institution: nil }  %>
<%= render 'sub_hero_content'  %>
<div id="filters">
  <%= render "shared/filter_bar" %>
</div>
<!-- extended_controls -> sort and search boxes -->
<%= render partial: 'filters', locals: { extended_controls: true }  %>
<section id="transcript-results">
</section>
