<%= render partial: 'layouts/admin_side_pane' %>

<h3>User Contributions</h3>

<div class="card">
    <div class="card-header">
        <%= form_tag(users_admin_reports_path, method: :get, class: "container-fluid mb-3", id: "report-filter-form",  data: { collection_data: @collections.group_by(&:institution_id)
                                            .transform_values { |cs| cs.map { |c| { id: c.id, name: c.title } } }
                                            .to_json }) do %>
            <div class="form-row align-items-end">
                <div class="form-group col-md-2 col-sm-4">
                    <label for="start_date">Start date</label>
                    <%= date_field_tag :start_date, params[:start_date],
                    max: Date.today.strftime('%Y-%m-%d'),
                    class: "form-control custom-control-height" %>
                </div>

                <div class="form-group col-md-2 col-sm-4">
                    <label for="end_date">End date</label>
                    <%= date_field_tag :end_date, params[:end_date],
                        max: Date.today.strftime('%Y-%m-%d'),
                        class: "form-control custom-control-height" %>
                </div>

                <div class="form-group col-md-3 col-sm-4">
                    <label for="institution_id">Institution</label>
                    <%= select_tag :institution_id,
                        options_from_collection_for_select(@institutions, :id, :name, params[:institution_id]),
                        include_blank: true,
                        class: "form-control custom-control-height",
                        data: { role: "institution" }
                    %>
                </div>

                <div class="form-group col-md-3 col-sm-4">
                    <label for="collection_id">Collection</label>
                    <%= select_tag :collection_id,
                        options_from_collection_for_select(@collections, :id, :title, params[:collection_id]),
                        include_blank: true,
                        class: "form-control custom-control-height",
                        data: { role: "collection" } 
                    %>
                </div>
                

                <div class="form-group col-md-1 col-sm-4">
                    <label for="per_page">Per page</label>
                    <%= select_tag :per_page,
                        options_for_select(
                            [
                                [50, 50],
                                [100, 100],
                                ['All', 10000]
                            ], 
                            params[:per_page]
                        ),
                        class: "form-control custom-control-height" %>
                </div>

                <div class="form-group col-md-1 col-sm-4">
                    <label>&nbsp;</label>
                    <%= submit_tag 'Filter', class: "button cyan btn-block custom-control-height" %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="full-width-inner d-flex justify-content-end mt-2">
    <%= link_to 'Export to CSV', users_admin_reports_path(format: :csv), class: "button cyan" %>
</div>

<table class="report-table table">
    <thead>
        <tr>
            <th scope="col" class="font-weight-bold">Username</th>
            <th scope="col" class="font-weight-bold">Lines</th>
            <th scope="col" class="font-weight-bold">Edits</th>
            <th scope="col" class="font-weight-bold">Transcripts</th>
            <th scope="col" class="font-weight-bold">Collections</th>
            <th scope="col" class="font-weight-bold">Institutions</th>
            <th scope="col" class="font-weight-bold">Time</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |u| %>
            <tr>
                <td><%= u["name"] %></td>
                <td><%= number_with_delimiter u["line_count"] %></td>
                <td><%= number_with_delimiter u["edit_count"] %></td>
                <td><%= u["transcript_count"] %></td>
                <td><%= u["collection_count"] %></td>
                <td><%= u["institution_count"] %></td>
                <td><%= display_time u["time_spent"] %></td>
            </tr>
        <% end%>
    </tbody>
</table>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users %>
</div>